<html>
<head>
<title>Set the bar</title>
<link rel="stylesheet" href="/static/stylesheets/whitepages.css" type="text/css">
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
<div class="dashboard-container">
    <div class="set-the-bar-title">
      <div class="set-the-logo"></div>
    </div>
<%- body %>


<% if(typeof user != 'undefined'){ %>
<div class="navigation-tab-review">
  <div class="navigation-explore"></div>
  <div class="navigation-review"></div>
  <div class="navigation-favorites"><a href="/favorites">hola</a></div>
  <div class="navigation-profile"></div>
</div>
<% } %>
<script src="/static/scripts/main.js"></script>
</body>
</html>
