<div class="review-container">
  <div class="review-left-text">
      <h1 class="review-h1">Let's review </h1>
      <h2 class="review-h2"> Le Tavernier</h2>
      <div class="review-rating"></div>
  </div>

<div class="meters-container">
    <div class="crowd"> 
        <p>Crowd</p>
        <input type="range" min="1" max="10" value="5" class="slider">
       <div class="text-crowd"> <span>Pretty quiet</span> <span>| Room for more |</span> <span>Full house</span></div>
    </div> 

    <div class="hygiene"> 
      <p>hygiene</p>
      <input type="range" min="1" max="10" value="5" class="slider">
      <div class="text-hygiene">
          <span>As clean as it gets</span> <span>| Decent |</span> <span>Everything's sticky </span></div>
     </div> 

    <div class="atmosphere"> 
      <p>Atmosphere</p>
      <input type="range" min="1" max="10" value="5" class="slider">
      <div class="text-atmo">
        <span>Dancing</span> <span>Chatting</span></div>
    </div> 

    <div class="safety"> 
      <p>Safety</p>
      <input type="range" min="1" max="10" value="5" class="slider">
     <div class="text-safety"> 
       <span>I feel safe</span> <span>Creep alert</span></div>
    </div> 

    <div class="review-commets">
      <p>Comments</p>
      <input type="text" placeholder="Leave a comment">
    </div>

</div>


  
  <div class="navigation-tab-review">
      <div class="navigation-explore"></div>
      <div class="navigation-review"></div>
      <div class="navigation-favorites"></div>
      <div class="navigation-profile"></div>
  </div>

 
</div> 
